p,
body,
button,
span,
svg,
h1 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 0.5rem;
}

.btn {
  background-color: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
}

.svg_icon {
  width: 1.5rem;
}

/*book container*/
.container {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #888bcf; /*#b286c8*/
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  padding: 1rem;
  gap: 1rem;
}

.flex_col,
.user_input {
  display: flex;
  flex-direction: column;
}

.book_look {
  min-height: 14rem;
  gap: 0.3rem;
  background-color: #86bdc8;
  box-shadow: 4px 5px #fafafa9f;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 2;
}

.book_btn {
  align-self: end;
}

.book_btn > :first-child {
  padding-right: 0.5rem;
}

.book_btn__add {
  align-items: center;
  justify-content: center;
}

.btn_change {
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

.book__box_txt {
  flex: 1 1 100%;
  justify-content: center;
  gap: 0.5rem;
}

.box_txt {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 0.2rem;
}

.box_txt > :first-child {
  font-size: 0.95rem;
  font-weight: bold;
  min-width: 3rem;
}

.box_txt > :last-child {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 0.87rem;
  word-break: break-word;
}

/*no_books_txt*/
.fixed_box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: transparent;
}

.no_books_txt > :first-child {
  display: flex;
  align-items: center;
  gap: 0.45rem;
  font-size: 2rem;
}

.svg_icon--large {
  width: 3rem;
}

.book_box__add {
  z-index: 3;
}

/*form__box*/
.book_form {
  width: clamp(20rem, 22rem, 100%);
  gap: 0.6rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form {
  gap: 0.6rem;
}
.user_input {
  gap: 0.2rem;
  font-size: 1.15rem;
}

.user_input > :last-child {
  padding: 0.4rem;
  font-size: 0.98rem;
}

.checkbox,
.btn__bottom {
  flex-direction: row;
  gap: 0.5rem;
}

.form__btn {
  align-self: flex-end;
}

.btn__bottom {
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

/***modifier***/
.display--none {
  display: none;
}

.blur {
  filter: blur(2px);
}

.empty_field {
  border: 2px solid red;
  border-radius: 0.4rem;
}

.error--txt {
  color: red;
}

.read {
  background-color: #9cc886;
}

.read_txt {
  color: green;
}
